@import '../common/var.less';

.search {
  height: 100%;
  display: flex;
  border-left: 1px solid @hover-color;
  .search-inset {
    width: calc(100% - 80px);
    height: 60px;
    margin: auto;
    padding: 2px;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    background: #fff;
    .left {
      width: calc(100% - 66px);
      height: 100%;
      display: flex;
      background: @bg-color;
      border-top-left-radius: 28px;
      border-bottom-left-radius: 28px;
      input {
        width: calc(100% - 50px);
        height: 22px;
        margin: auto;
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
        font-size: 16px;
      }
    }
    .right {
      width: 66px;
      height: 100%;
      background-image: linear-gradient(
        to right,
        @gradient-left-color,
        @gradient-right-color
      );
      display: flex;
      cursor: pointer;
      border-top-right-radius: 28px;
      border-bottom-right-radius: 28px;
      .iconfont {
        margin: auto;
        font-size: 24px;
        font-weight: 900;
        margin-left: 17px;
      }
    }
  }
}
.search-inset:focus-within {
  background: linear-gradient(
    to right,
    @gradient-left-color,
    @gradient-right-color
  );
}